@using CognitiveSearch.UI.Configuration
 @using System.Security.Principal
@inject AppConfig AppConfig

@{

  


    // Check if the current view is Search
    String action = ViewContext.RouteData.Values["action"].ToString();
    bool isSearchView = action == "Index";
}

<!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /-->
<nav class="navbar navbar-expand-lg navbar navbar-bg position-sticky top-0" style="z-index:9;background: rgba(255, 255, 255, 52%);
    backdrop-filter: blur(10px);">
    <div class="container-fluid">
        <div class="content">
            <div class="navbar-header">
                <a class="navbar-brand-logo h-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/QuadraLogo.png" height="32" id="navbar-img" alt="@AppConfig.Organization.Name logo" title="@AppConfig.Organization.Name logo" class="logo-container logo-sgv" asp-append-version="true" />
                </a>
            </div>
            @if (AppConfig.Customizable)
            {
                <div class="collapse navbar-collapse" id="navbarNav">
                    @if (isSearchView)
                    {
                    // Render the search input
                        <input type="text" class="form-control navbar-search advancedAutoComplete" name="q" id="q" placeholder="What do you want to search (e.g. satisfaction, intent, quality)" autocomplete="off">
                    }
                </div>
            }
            <div class="navbar-nav flex align-items-center gap-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         style="background: #dddddd;
    color: #000;
    border-radius: 49px;
    font-size: 12px;">
                          <img src="~/images/user.png" style="width: 28px;
                         height: 28px;" />
                        @User.Identity.Name
                    </div>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="        margin-top: 6rem;
        padding: 2px;
        font-size: 14px;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
                        </li>
                    </div>
                   
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
                    </li>
                }
            </div>
        </div>
       
    </div>
</nav>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    @if (!string.IsNullOrWhiteSpace(ViewBag.Style))
    {
        <div class="alert @ViewBag.Style  mb-2 mt-5 mr-5 ml-5">@ViewBag.Message</div>
    }
    else
    {
        <div class="alert alert-info  mb-2 mt-5 mr-5 ml-5">@ViewBag.Message</div>
    }
}
